@charset "UTF-8";
@import url('common.css');

.popupValue{
    display: none;
    z-index:5;
    width:100%;
    overflow: hidden;
    position: fixed;
    left:0; top:0%;
    background:rgba(0,0,0,.8);
    .valuehead{
        width:70%;
        display:block;
        margin:0 auto;
        text-align: center;
        padding:15% 0 20% 0;
        span{
            font-family: 'Jua';
            font-size:2em;
            color:#d31045                
        }
        p{
            font-family: 'Jua';
            font-size:1.3em;
            white-space:pre-line;
            color:#fff;
            padding:5% 0;
        }
    }
    .valuemain{
        width:70%;
        display:block;
        margin:0 auto;
        text-align: center;

        .valuemain1{
            overflow: hidden;
            padding-bottom:2%;
            .left1{
                float: left;
                width:49%;
                text-align: center;
                img{}
                h5{
                    font-family: 'Gothic A1';
                    color:#fff; 
                    font-size:1.2em;
                    font-weight:400;
                    padding:3% 0 1% 0;
                }
                ul{
                    width:75%;
                    margin:0 auto;
                    text-align: left;
                    white-space:pre-line;
                    padding-bottom:2%;
                    list-style: disc;
                    li{
                        font-family: 'Gothic A1';
                        color:#fff;
                        font-size:1em;
                        font-weight:100;
                    }
                }
            }
            .right1{
                float: right;
                width:49%;
                text-align: center;
                img{}
                h5{
                    font-family: 'Gothic A1';
                    color:#fff; 
                    font-size:1.2em;
                    font-weight:400;
                    padding:3% 0 1% 0;
                }
                ul{
                    width:75%;
                    margin:0 auto;
                    text-align: left;
                    white-space:pre-line;
                    padding-bottom:2%;
                    list-style: disc;
                    li{
                        font-family: 'Gothic A1';
                        color:#fff;
                        font-size:1em;
                        font-weight:100;
                    }
                }
            }
        }
        .valuemain2{
            overflow: hidden;
            padding-bottom:2%;
            .left2{
                float: left;
                width:49%;
                text-align: center;
                img{}
                h5{
                    font-family: 'Gothic A1';
                    color:#fff; 
                    font-size:1.2em;
                    font-weight:400;
                    padding:3% 0 1% 0;
                }
                ul{
                    width:75%;
                    margin:0 auto;
                    text-align: left;
                    white-space:pre-line;
                    padding-bottom:2%;
                    list-style: disc;
                    li{
                        font-family: 'Gothic A1';
                        color:#fff;
                        font-size:1em;
                        font-weight:100;
                    }
                }
            }
            .right2{
                float: right;
                width:49%;
                text-align: center;
                img{}
                h5{
                    font-family: 'Gothic A1';
                    color:#fff; 
                    font-size:1.2em;
                    font-weight:400;
                    padding:3% 0 1% 0;
                }
                ul{
                    width:75%;
                    margin:0 auto;
                    text-align: left;
                    white-space:pre-line;
                    padding-bottom:2%;
                    list-style: disc;
                    li{
                        font-family: 'Gothic A1';
                        color:#fff;
                        font-size:1em;
                        font-weight:100;
                    }
                }
            }
        }
        .valuemain3{
            overflow: hidden;
            padding-bottom:2%;
            .left3{
                float: left;
                width:49%;
                text-align: center;
                padding-bottom:10%;
                
                img{}
                h5{
                    font-family: 'Gothic A1';
                    color:#fff; 
                    font-size:1.2em;
                    font-weight:400;
                    padding:3% 0 1% 0;
                }
                ul{
                    width:75%;
                    margin:0 auto;
                    text-align: left;
                    white-space:pre-line;
                    padding-bottom:2%;
                    list-style: disc;
                    li{
                        font-family: 'Gothic A1';
                        color:#fff;
                        font-size:1em;
                        font-weight:100;
                    }
                }
            }
            .right3{
                float: right;
                width:49%;
                text-align: center;
                img{}
                h5{
                    font-family: 'Gothic A1';
                    color:#fff; 
                    font-size:1.2em;
                    font-weight:400;
                    padding:3% 0 1% 0;
                }
                ul{
                    width:75%;
                    margin:0 auto;
                    text-align: left;
                    white-space:pre-line;
                    padding-bottom:2%;
                    list-style: disc;
                    li{
                        font-family: 'Gothic A1';
                        color:#fff;
                        font-size:1em;
                        font-weight:100;
                    }
                }
            }
        }
    }
}
.popupValue::-webkit-scrollbar{
    width:0px;
}

.historypop.open{display:block;}
.historypop{
    display:none;
    z-index:1;
    width:100%;
    height: 100%;
    position: fixed;
    left:0; top:0%;
    background-color:rgba(0,0,0,.8);
    
    .mainitem{
        width:80%;
        height: 100%;
        margin:0 auto;

        li{
            color:#c9d6df;
            line-height:2;
        }
        li:before{
            content: '';
            display:block;
            position: absolute;
            left:50%;
            transform: translate(-11.5px);
            width:20px; height: 20px;
            margin-top:20px;
            background:url(/프로젝트/img/sub3/hisbtn.png) no-repeat center 0;
            background-size:20px auto;
        }
        
        strong{font-size:1.5em;}
        p{color:#89969f;}
        .leftline{text-align: right;}
        .blodp{color:#fff;}
        
        .line1{
            width:80%;
            padding-top:3%;
            display:flex;
            div{
                width:60%;
            }
            .history_img{                
                width:50%;
                display:block;
                text-align: right;
                img{width:60%;}
            }
            .history_img::before{
                content:'';
                width:10%; height:1px;
                background-color: #89969f;
                position: absolute;
                left:50%; top:9.5%;
                z-index:-1;
            }
        }
        .line2{
            width:80%;
            display:flex;
            padding-top:2%;
            div{
                width:40%;
                margin-left:15%;
            }
            .history_img{                
                width:50%;
                display:block;
                text-align: right;
                img{width:50%;}
            }
            .history_img::before{
                content:'';
                width:10%; height:1px;
                background-color: #89969f;
                position: absolute;
                left:40%; top:25.5%;
                z-index:-1;
            }
        }
        .line3{
            width:80%;
            padding-top:3%;
            display:flex;
            div{
                width:60%;
            }
            .history_img{                
                width:50%;
                display:block;
                text-align:center;
                img{width:60%;}
            }
            .history_img::before{
                content:'';
                width:10%; height:1px;
                background-color: #89969f;
                position: absolute;
                left:50%; top:75%;
                z-index:-1;
            }
        }
        .line4{
            width:80%;
            display:flex;
            justify-self: center;
            div{
                width:40%;
                margin-left:15%;

                ol{
                    div{
                        width:100%;
                        margin:0; padding:0;
                    }
                    .blodp::before{
                        content: '';
                        display:block;
                        position: absolute;
                        left:50%;            
                        transform: translate(-5px);
                        width:6px; height:6px;
                        margin-top:13px;
                        border:1px solid#d31045;
                        border-radius: 80%;
                        background-color:#d31045;
                        background-size:20px auto;
                    }
                }
            }
            .history_img{                
                width:50%;
                display:block;
                text-align: right;
                img{width:60%;}
            }
            .history_img::before{
                content:'';
                width:10%; height:1px;
                background-color: #89969f;
                position: absolute;
                left:40%; top:110%;
                z-index:-1;
            }
        }
        .line5{
            width:80%;
            padding-top:3%;
            display:flex;
            div{
                width:60%;
                margin-right:70px;
                ol{
                    div{
                        width:100%;
                        margin:0; padding:0;
                    }
                }
            }
            .history_img{                
                width:35%;
                margin-left:50px;
                display:block;
                text-align:center;
                img{width:60%;}
            }
            .history_img::before{
                content:'';
                width:10%; height:1px;
                background-color: #89969f;
                position: absolute;
                left:50%; top:142.5%;
                z-index:-1;
            }
        }
        .line6{
            width:80%;
            display:flex;
            justify-self: center;
            div{
                width:40%;
                margin-left:15%;

                ol{
                    div{
                        width:100%;
                        margin:0; padding:0;
                    }
                    .blodp::before{
                        content: '';
                        display:block;
                        position: absolute;
                        left:50%;            
                        transform: translate(-5px);
                        width:6px; height:6px;
                        margin-top:11px;
                        border:1px solid#d31045;
                        border-radius: 80%;
                        background-color:#d31045;
                        background-size:20px auto;
                    }
                }
            }
            .history_img{                
                width:50%;
                display:block;
                text-align: right;
                img{width:60%;}
            }
            .history_img::before{
                content:'';
                width:10%; height:1px;
                background-color: #89969f;
                position: absolute;
                left:40%; top:174.5%;
                z-index:-1;
            }
        }
    }
    
    .mainitem::before{ 
        content:'';
        display:block;
        position: absolute;
        top:0; left:50%;
        margin-left:-3px;
        margin-top:2%;
        height: 2000px;
        border-left: 3px solid #89969f;
    }

    
}
.historypop::-webkit-scrollbar{
    width:0px;
}

main{
    width:100%;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    
    background-color:#fef3d7;
    .page0{
        padding-top:25%;
    }
    .b_g_i{
        width:50%;
        position: relative;
        
        span{            
            position: absolute;
            right:0; top:0;
            filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
            z-index: 1;
        }
        span:nth-of-type(1){
            transform: rotate( 30deg );
            display:flex;
            left:110%; top:-200px;
            img{width:450px;}
        }
        span:nth-of-type(2){
            transform: rotate( -30deg );
            display:flex;
            left:165%; top:120px;
            img{width:450px;}
        }
        span:nth-of-type(3){
            transform: rotate( -20deg );
            display:flex;
            left:140%; top:350px;
            img{width:400px;}
        }
    }
    .page1{
        width:100%;
        white-space:pre-line;
        padding-bottom:32%;
        padding-left:10%;
        position: relative;
        
        .bg_w{
            width:100%;
            display:inline-block;
            white-space:nowrap;
            position: absolute;
            left:0; bottom:70%;

            font-family: 'Anton', sans-serif;
            font-size:250px;
            transform:rotate(-345deg);
            .bg_w_list{          
                
                display: flex;
                white-space: nowrap;
            
                animation:gogo 30s infinite linear;
            
                .ticker_item{}
                
                @keyframes gogo{
                    100% {transform: translateX(-100%);}
                }
            }
        }
        .bg_w_k{
            position: absolute;
            left:10%; top:36%;
            display:flex;
            
            white-space:pre-line;
            span{
                font-family: 'Gothic A1', sans-serif;
                color:#d31045;
                padding:50px 15px;
                font-size:50px;
            }
            p{
                font-family: 'Jua', sans-serif;
                font-size:30px;
            }
        }
    }
    .page2{
        width:100%;
        margin:0 auto;
        padding-top:150px;
        overflow: hidden;
        .left_img{
            width:50%;
            float:left;            
            .img_top_l{
                display:block;
                width:50%;
                margin:0 auto;
                img{width:650px;}
                span{
                    padding-top:15px;
                    font-family: 'Anton', sans-serif;
                    display:block;
                    margin:0 auto;
                    text-align:center;
                }
            }
            .img_btm{
                display:flex;
                padding-bottom:150px;
                .img_btm_l{
                    width:50%;
                    text-align:center;
                    img{width:350px;}
                    span{ 
                        text-align:center;
                        padding-top:15px;
                        font-family: 'Anton', sans-serif;
                        width:100%;
                        display:block;
                        margin:0 auto;
                    }
                }
                .img_btm_2{
                    width:50%;
                    text-align:center;
                    img{width:350px;}
                    span{
                        text-align:center;
                        font-family: 'Anton', sans-serif;
                        padding-top:15px;
                        width:100%;
                        display:block;
                        margin:0 auto;
                    }
                }
            }
        }
        .right_w{
            width:50%;
            float:right;
            
            h2{
                padding-top:15%;
                font-size:55px;
                font-family: 'Anton', sans-serif;
            }
            h3{
                padding-left:15%;
                font-size:55px;
                font-family: 'Anton', sans-serif;
            }
            p{
                padding-top:5%;
                line-height:2;
                font-weight:600;
                font-size:18px;
                white-space: pre-line;
                font-family: 'Gothic A1', sans-serif;
            }
        }
    }

    .page3{
        padding:80px 0;
        width:100%;
        

        h1{
            color:#fff;
            font-family: 'Anton', sans-serif;
            padding:30px 0 20px 0;
            font-size:55px;
            text-align: center;
        }
        .mid_img{
            width:100%;
            margin: 0 auto;
            text-align: center;
            display:flex;
            justify-content: space-around;
            white-space: pre-line;
            font-family: 'Gothic A1', sans-serif;
            font-weight: 600;
            padding-bottom:50px;
            .num1{
                width:25%;
                margin-right:-20%;
                img{}
                p{}
                span{}
            }
            .num2{
                width:25%;
                margin-right:-20%;
                img{}
                p{}
                span{}
            }
            .num3{
                width:25%;
                img{}
                p{}
                span{}
            }
        }
        .main_w{
            width:100%;
            margin:0 auto;
            text-align: center;
            padding-bottom:60px;
            p{
                white-space: pre-line;
                font-family: 'Gothic A1', sans-serif;
                font-weight: 600;
                font-size:18px;
                line-height: 2;
            }
        }
        
    }
    .page4{
        width:100%;
        
        padding: 100px 0;
        h3{
            font-family: 'Anton', sans-serif;
            padding:30px 0 20px 0;
            font-size:55px;
            text-align: center;
        }
        img{
            width:600px;
            display:block;
            margin:0 auto;
            padding-top:80px;
        }
    }
    
    .page5{
        width:100%;
        
        padding: 100px 0;
        h3{
            color:#fff;
            font-family: 'Anton', sans-serif;
            padding:30px 0 20px 0;
            font-size:55px;
            text-align: center;
        }
        img{
            display:block;
            margin:0 auto;
            width:600px;
            padding-top:80px;
        }
    }
}


.footer_top{        
    height:100px;
    background:#2b292d;
}
footer{
    width:100%;
    overflow: hidden;

    article{
        height:350px;
        background:#2b292d;        
        .cu_m{  
            font-family: 'Gothic A1', sans-serif;
            padding-left:50px;
            strong{
                font-size:40px;
                color:#fff;
                padding-bottom:20px;
            }
            span{
                font-family: 'Gothic A1', sans-serif;
                color:#fff;
            }
            p{
                white-space:pre-line;
                margin:0;
                font-family: 'Gothic A1', sans-serif;
                padding:15px 0;
                color:#fff;
            }            
            .under{
                p{
                    font-family: 'Gothic A1', sans-serif;
                    color:#fff;
                    font-size:8px;
                }
            }
        }
        .cu{
            position: relative;            
            transform: rotate(-328deg);
            a{
                font-family: 'Anton', sans-serif;
                font-size:150px;
                position: absolute;
                right:130px; bottom:380px;
                color:#fff;
            }
        }
    }
}
