@import url("common.css");
main {
  width: 100%;
  overflow: hidden;
  background: #fa5d57;
  font-family: 'Gothic A1', sans-serif;
  position: relative;
}

main .main_img {
  position: absolute;
  left: 40%;
  top: 6%;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

main .main_img img {
  width: 400px;
}

main .main_c1 {
  padding-bottom: 32%;
}

main .main_c1 .page1 {
  padding-top: 8%;
  width: 100%;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
}

main .main_c1 .page1 .page1_1 {
  display: block;
  padding-left: 30%;
  color: #fff;
}

main .main_c1 .page1 .page1_2 {
  display: block;
  margin-top: -120px;
  padding-left: 48%;
}

main .main_c1 .page1_sub {
  width: 100%;
  white-space: pre-line;
  line-height: 1.3;
  font-weight: bold;
  padding-left: 65%;
}

main .main_c1 .page1_sub p {
  margin: 0;
}

.main_c2 {
  width: 100%;
  white-space: pre-line;
  padding-bottom: 32%;
  padding-left: 10%;
  position: relative;
}

.main_c2 .bg_w {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
  position: absolute;
  left: 0;
  bottom: 70%;
  font-family: 'Anton', sans-serif;
  font-size: 250px;
  -webkit-transform: rotate(-345deg);
          transform: rotate(-345deg);
}

.main_c2 .bg_w .ani_bg_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-animation: gogo 30s infinite linear;
          animation: gogo 30s infinite linear;
}

@-webkit-keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.main_c2 .enm {
  width: 55%;
  float: left;
}

.main_c2 .enm .b_enm {
  font-weight: bold;
  font-size: 20px;
}

.main_c2 .enm p {
  font-size: 18px;
  margin: 0;
}

.main_c2 .enm_img {
  width: 45%;
  float: right;
  position: relative;
}

.main_c2 .enm_img .ue_w {
  -webkit-transform: rotate(-345deg);
          transform: rotate(-345deg);
  position: absolute;
  left: 25%;
  bottom: 30%;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
  font-weight: bold;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
}

.main_c2 .enm_img img {
  width: 450px;
}

.main_c2 .enm_img a {
  position: absolute;
  left: -20%;
  top: 50%;
  width: 300px;
  -webkit-transform: rotate(-345deg);
          transform: rotate(-345deg);
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
}

.main_c2 .enm_img a img {
  width: 350px;
}

.main_c3 {
  width: 100%;
  margin: 13% auto;
  overflow: hidden;
  position: relative;
}

.main_c3 .suc {
  float: left;
  width: 450px;
  height: 450px;
  -webkit-transform: translate(40%, 0%);
          transform: translate(40%, 0%);
}

.main_c3 .suc img {
  width: 100%;
  -webkit-animation: trun 10s linear infinite;
          animation: trun 10s linear infinite;
}

@-webkit-keyframes trun {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes trun {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.main_c3 .ing_t {
  width: 50%;
  float: right;
  padding: 0% 13% 0% 0;
}

.main_c3 .ing_t p {
  padding-top: 15px;
  font-size: 15px;
  color: #fff;
}

.main_c3 .ing_t table {
  width: 100%;
}

.main_c3 .ing_t table thead {
  text-align: left;
}

.main_c3 .ing_t table thead .ingredien .bold-label {
  font-size: 17px;
  padding: 0 5px 10px 0;
}

.main_c3 .ing_t table tbody tr :nth-of-type(2) {
  text-indent: 5px;
}

.main_c3 .ing_t table tbody tr :nth-of-type(3) {
  text-indent: 5px;
}

footer {
  width: 100%;
  background: #fff;
  position: relative;
}

footer .footer_img {
  position: absolute;
  left: 35%;
  top: 30%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  z-index: 5;
  -webkit-transform: rotate(18deg);
          transform: rotate(18deg);
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
}

footer .footer_img img:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}

footer .bg_c {
  width: 100%;
  display: inline-block;
  white-space: nowrap;
}

footer .bg_c .bg_c_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-animation: let 10s infinite linear;
          animation: let 10s infinite linear;
}

footer .bg_c .bg_c_list .bg_cw {
  font-size: 200px;
  color: #2b292d;
  font-family: 'Anton', sans-serif;
}

@-webkit-keyframes let {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes let {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
/*# sourceMappingURL=BrandAndProduct3_1.css.map */