@import url("common.css");
main {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

main ul li p {
  font-size: 2.2em;
  font-family: 'Jua';
}

main .page0 {
  padding-top: 15%;
  background: #232f73;
}

main .b_g_i {
  width: 50%;
  position: relative;
  z-index: 50;
}

main .b_g_i span {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
}

main .b_g_i span:nth-of-type(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 110%;
  top: -200px;
}

main .b_g_i span:nth-of-type(1) img {
  width: 450px;
}

main .b_g_i span:nth-of-type(2) {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 165%;
  top: 120px;
}

main .b_g_i span:nth-of-type(2) img {
  width: 450px;
}

main .b_g_i span:nth-of-type(3) {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 140%;
  top: 350px;
}

main .b_g_i span:nth-of-type(3) img {
  width: 400px;
}

main .page1 {
  width: 100%;
  margin: 0 auto;
  background: #232f73;
  position: relative;
}

main .page1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

main .page1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 200px;
  font-weight: 300;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@-webkit-keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

main .page1 .wit_m {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
  white-space: pre-line;
}

main .page1 .wit_m p {
  color: #fff;
  font-family: 'Gothic A1', sans-serif;
  font-size: 18px;
  line-height: 2;
  font-weight: 200;
}

main .page2 {
  width: 100%;
  background: #232f73;
  padding-top: 15%;
  position: relative;
}

main .page2 .page2_1 {
  display: inline-block;
  width: 59%;
  margin: 0 auto;
  padding-left: 15%;
  position: absolute;
  left: 5%;
  top: 110%;
  z-index: 5;
}

main .page2 .page2_1 h1 {
  color: #fff;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 200;
  font-size: 50px;
}

main .page2 .page2_1 p {
  color: #fff;
  font-size: 18px;
  line-height: 2;
  white-space: pre-line;
}

main .page2 .page2_2 {
  display: inline-block;
  width: 39%;
  margin: 0 auto;
  position: absolute;
  left: 56%;
  top: 55%;
  z-index: 2;
}

main .page2 .page2_2 img {
  width: 360px;
}

main .page3 {
  width: 100%;
  background: #232f73;
  position: relative;
  padding-top: 40%;
  padding-bottom: 20%;
}

main .page3 h1 {
  text-align: center;
  padding-bottom: 5%;
  color: #fff;
  font-family: 'Black Han Sans', sans-serif;
  font-weight: 200;
  font-size: 50px;
}

main .page3 .necessary {
  position: absolute;
  left: 15%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

main .page3 .necessary img {
  width: 90px;
  height: 90px;
}

main .page3 .necessary2 {
  position: absolute;
  left: 0%;
  -webkit-transform: translateY(-68px);
          transform: translateY(-68px);
}

main .page3 .necessary2 img {
  width: 110px;
  height: 110px;
}

main .page3 .necessary3 {
  position: absolute;
  left: 0%;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

main .page3 .necessary3 img {
  width: 90px;
  height: 90px;
}

main .page3 .fact_list {
  width: 80%;
  margin: 0 auto;
}

main .page3 .fact_list ol {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .page3 .fact_list ol .ft_img1 {
  width: 30%;
  text-align: center;
}

main .page3 .fact_list ol .ft_img1 img {
  width: 450px;
}

main .page3 .fact_list ol .rigth_ft {
  width: 70%;
  margin-top: -50px;
}

main .page3 .fact_list ol .rigth_ft .ft_2 {
  width: 100%;
  display: block;
  white-space: pre-line;
}

main .page3 .fact_list ol .rigth_ft .ft_2 p {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  line-height: 2;
  white-space: pre-line;
}

main .page3 .fact_list ol .rigth_ft .ft_2 span {
  font-size: 18px;
  width: 100%;
  display: block;
  margin-top: -50px;
  text-align: center;
  color: #fff;
  line-height: 2;
  white-space: pre-line;
}

main .page3 .fact_list .ft_l {
  width: 100%;
  display: block;
  white-space: pre-line;
  font-size: 18px;
}

main .page3 .fact_list .ft_l p {
  width: 100%;
  display: block;
  text-align: center;
  color: #fff;
  line-height: 2;
  white-space: pre-line;
}

main .page3 .fact_list .ft_l span {
  width: 100%;
  display: block;
  margin-top: -50px;
  text-align: center;
  color: #fff;
  line-height: 2;
  white-space: pre-line;
}

main .page3 .fact_list .ft_img2 {
  width: 100%;
  padding: 10% 0 2% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .page3 .fact_list .ft_img2 img {
  width: 30%;
}

main .page3 .fact_list .ft_img3 {
  width: 100%;
  padding: 7% 0;
  text-align: center;
}

.footer_top {
  height: 100px;
  background: #2b292d;
}

footer {
  width: 100%;
  overflow: hidden;
}

footer article {
  height: 350px;
  background: #2b292d;
}

footer article .cu_m {
  font-family: 'Gothic A1', sans-serif;
  padding-left: 50px;
}

footer article .cu_m strong {
  font-size: 40px;
  color: #fff;
  padding-bottom: 20px;
}

footer article .cu_m span {
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
}

footer article .cu_m p {
  white-space: pre-line;
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  padding: 15px 0;
  color: #fff;
}

footer article .cu_m .under p {
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
  font-size: 8px;
}

footer article .cu {
  position: relative;
  -webkit-transform: rotate(-328deg);
          transform: rotate(-328deg);
}

footer article .cu a {
  font-family: 'Anton', sans-serif;
  font-size: 150px;
  position: absolute;
  right: 130px;
  bottom: 380px;
  color: #fff;
}
/*# sourceMappingURL=CerealAndNutrition_main.css.map */