@import url("common.css");
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Black+Han+Sans&family=Gothic+A1:wght@400;600;900&family=Jua&family=Roboto+Condensed:wght@400;700&display=swap");
html, body, div, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  border: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.menu_1 {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 3;
}

.menu_1 #header {
  width: 100%;
  height: initial;
  overflow: hidden;
}

.menu_1 #header .main_content {
  width: 300px;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
}

.menu_1 #header .main_content .menu_1_1 {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.menu_1 #header .main_content .menu_1_1 .main_header {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.menu_1 #header .main_content .menu_1_1 .main_header .header_img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 125px;
  max-width: 250px;
}

.menu_1 #header .main_content .menu_1_1 .main_header .header_img a img {
  padding-left: 5px;
  width: 130%;
}

.menu_1 #header .main_content .menu_1_1 .main_header .main_menu {
  width: 100%;
  margin: 0 auto;
  padding-left: 3rem;
  background-color: transparent;
  height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
}

.menu_1 #header .main_content .menu_1_1 .main_header .main_menu .outer_circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}

.menu_1 #header .main_content .menu_1_1 .main_header .main_menu .outer_circle .inner_circle {
  font-family: 'Anton', sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 0;
  position: absolute;
  -webkit-transition: .5s;
  transition: .5s;
  height: 64px;
  width: 64px;
  z-index: 10;
  background-color: #d31045;
  color: white;
  top: 50%;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin: -32px 0px 0px -32px;
}

.menu_1 #header .main_content .menu_1_1 .main_header .main_menu .outer_circle .inner_circle span {
  padding-left: 15%;
  color: #fff;
}

.menu_1 #header .main_content .menu_1_1 .main_header .main_menu .outer_circle .inner_circle span:nth-of-type(1) {
  display: block;
}

.menu_1 #header .main_content .menu_1_1 .main_header .main_menu .outer_circle .inner_circle span:nth-of-type(2) {
  display: none;
}

.menu_1 #header .main_content .menu_1_1 .main_header .main_menu .outer_circle:after {
  content: "";
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 100%;
  border-width: 1px;
  border-style: dashed;
  border-color: #d31045;
  -o-border-image: initial;
     border-image: initial;
  -webkit-animation: orbit 10s linear infinite;
          animation: orbit 10s linear infinite;
}

@-webkit-keyframes orbit {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes orbit {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.menu_1 #header .main_content .menu_1_2.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.menu_1 #header .main_content .menu_1_2 {
  width: 100%;
  height: 100vh;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  background-color: #FFFFFF;
}

.menu_1 #header .main_content .menu_1_2 .con_1 {
  width: 100%;
  height: 100%;
  padding-top: 35%;
  padding-left: 20px;
}

.menu_1 #header .main_content .menu_1_2 .con_1 ul li {
  padding-bottom: 12px;
}

.menu_1 #header .main_content .menu_1_2 .con_1 ul li a {
  font-size: 32px;
  font-family: 'Anton', sans-serif;
  color: #2b292d;
  position: relative;
}

.menu_1 #header .main_content .menu_1_2 .con_1 ul li a:after {
  content: '';
  height: 2px;
  background-color: #2b292d;
  width: 0%;
  position: absolute;
  left: 0%;
  bottom: -2px;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu_1 #header .main_content .menu_1_2 .con_1 ul li a:hover:after {
  width: 100%;
  left: 0;
}

.menu_1 #header .main_main.active {
  -webkit-transform: translateX(calc(0% + 300px));
          transform: translateX(calc(0% + 300px));
}

.menu_1 #header .main_main {
  width: calc(100% - 300px);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: fixed;
  left: 0;
  top: 0;
  -webkit-transition: .7s;
  transition: .7s;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
}

.menu_1 #header .main_main .main_products {
  width: auto;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu_1 #header .main_main .main_products .item_list, .menu_1 #header .main_main .main_products .item_name {
  color: #2b292d;
}

.menu_1 #header .main_main .main_products .item_img.on {
  -webkit-transform: translateX(70%);
          transform: translateX(70%);
}

.menu_1 #header .main_main .main_products .item_name.on {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.menu_1 #header .main_main .main_products .classic_main {
  width: 50%;
  height: 35%;
  background: #0090d5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 {
  width: 100%;
  height: 100%;
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding-top: 30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  z-index: 10;
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@-webkit-keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 .item_img {
  position: absolute;
  left: 15%;
  top: -18%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  z-index: 5;
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 .item_img .field_item {
  width: 100%;
  -webkit-filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 .item_img .field_item img {
  width: 100%;
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 .item_name {
  padding: 0 0 1.5rem 1.5rem;
  position: absolute;
  bottom: -10px;
  left: 10px;
  -webkit-transform: translateX(-120%);
          transform: translateX(-120%);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu_1 #header .main_main .main_products .classic_main .classic_1 .item_name span {
  padding-left: 25px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.menu_1 #header .main_main .main_products .classic_main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
}

.menu_1 #header .main_main .main_products .classic_main.on:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(110%);
          transform: translate(110%);
}

.menu_1 #header .main_main .main_products .choco_main {
  width: 50%;
  height: 35%;
  background: #411b0e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 {
  width: 100%;
  height: 100%;
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding-top: 30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_img {
  position: absolute;
  left: 15%;
  top: -18%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  z-index: 5;
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_img .field_item {
  width: 100%;
  -webkit-filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_img .field_item img {
  width: 100%;
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_img img:hover {
  -webkit-transform: scaleX(-100%);
          transform: scaleX(-100%);
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_name {
  padding: 0 0 1.5rem 1.5rem;
  position: absolute;
  bottom: -10px;
  left: 10px;
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu_1 #header .main_main .main_products .choco_main .classic_1 .item_name span {
  padding-left: 25px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.menu_1 #header .main_main .main_products .choco_main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
}

.menu_1 #header .main_main .main_products .choco_main.on:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(110%);
          transform: translate(110%);
}

.menu_1 #header .main_main .main_products .granola_main {
  width: 50%;
  height: 35%;
  background: #505e20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 {
  width: 100%;
  height: 100%;
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding-top: 30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_img {
  position: absolute;
  left: 15%;
  top: -18%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  z-index: 5;
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_img .field_item {
  width: 100%;
  -webkit-filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_img .field_item img {
  width: 100%;
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_img img:hover {
  -webkit-transform: scaleX(-100%);
          transform: scaleX(-100%);
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_name {
  padding: 0 0 1.5rem 1.5rem;
  position: absolute;
  bottom: -10px;
  left: 10px;
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu_1 #header .main_main .main_products .granola_main .classic_1 .item_name span {
  padding-left: 25px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.menu_1 #header .main_main .main_products .granola_main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
}

.menu_1 #header .main_main .main_products .granola_main.on:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(110%);
          transform: translate(110%);
}

.menu_1 #header .main_main .main_products .protein_main {
  width: 50%;
  height: 35%;
  background: #202471;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 {
  width: 100%;
  height: 100%;
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding-top: 30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_img {
  position: absolute;
  left: 15%;
  top: -18%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  z-index: 5;
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_img .field_item {
  width: 100%;
  -webkit-filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_img .field_item img {
  width: 100%;
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_img img:hover {
  -webkit-transform: scaleX(-100%);
          transform: scaleX(-100%);
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_name {
  padding: 0 0 1.5rem 1.5rem;
  position: absolute;
  bottom: -10px;
  left: 10px;
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu_1 #header .main_main .main_products .protein_main .classic_1 .item_name span {
  padding-left: 25px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.menu_1 #header .main_main .main_products .protein_main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
}

.menu_1 #header .main_main .main_products .protein_main.on:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(110%);
          transform: translate(110%);
}

.menu_1 #header .main_main .main_products .grain_main {
  width: 50%;
  height: 35%;
  background: #a27f50;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 {
  width: 100%;
  height: 100%;
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding-top: 30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_img {
  position: absolute;
  left: 15%;
  top: -18%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  z-index: 5;
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_img .field_item {
  width: 100%;
  -webkit-filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_img .field_item img {
  width: 100%;
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_img img:hover {
  -webkit-transform: scaleX(-100%);
          transform: scaleX(-100%);
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_name {
  padding: 0 0 1.5rem 1.5rem;
  position: absolute;
  bottom: -10px;
  left: 10px;
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu_1 #header .main_main .main_products .grain_main .classic_1 .item_name span {
  padding-left: 25px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.menu_1 #header .main_main .main_products .grain_main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
}

.menu_1 #header .main_main .main_products .grain_main.on:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(110%);
          transform: translate(110%);
}

.menu_1 #header .main_main .main_products .engbar_main {
  width: 50%;
  height: 35%;
  background: #fef3d7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 {
  width: 100%;
  height: 100%;
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding-top: 30px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Anton', sans-serif;
  font-size: 200px;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_img {
  position: absolute;
  left: 15%;
  top: -18%;
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
  z-index: 5;
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_img .field_item {
  width: 100%;
  -webkit-filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
          filter: drop-shadow(5px 20px 5px rgba(0, 0, 0, 0.3));
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_img .field_item img {
  width: 100%;
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_img img:hover {
  -webkit-transform: scaleX(-100%);
          transform: scaleX(-100%);
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_name {
  padding: 0 0 1.5rem 1.5rem;
  position: absolute;
  bottom: -10px;
  left: 10px;
  -webkit-transform: translate(-120%);
          transform: translate(-120%);
  -webkit-transition: -webkit-transform .5s ease-out;
  transition: -webkit-transform .5s ease-out;
  transition: transform .5s ease-out;
  transition: transform .5s ease-out, -webkit-transform .5s ease-out;
}

.menu_1 #header .main_main .main_products .engbar_main .classic_1 .item_name span {
  padding-left: 25px;
  font-size: 30px;
  font-family: 'Anton', sans-serif;
}

.menu_1 #header .main_main .main_products .engbar_main:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: -webkit-transform .8s ease-out;
  transition: -webkit-transform .8s ease-out;
  transition: transform .8s ease-out;
  transition: transform .8s ease-out, -webkit-transform .8s ease-out;
}

.menu_1 #header .main_main .main_products .engbar_main.on:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(110%);
          transform: translate(110%);
}

@media All and (max-width: 1160px) {
  .b_g_3 {
    width: 76%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .b_g_3 div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 140px;
    font-size: 0;
  }
  .b_g_3 div div:nth-of-type(1) {
    width: 30%;
    height: 250%;
    margin: 0;
    background: #fad5dd;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-animation: live3 .3s 1.5s linear forwards;
            animation: live3 .3s 1.5s linear forwards;
  }
  @-webkit-keyframes live3 {
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  @keyframes live3 {
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
    }
  }
  .b_g_3 div div:nth-of-type(2) {
    margin: 0;
    width: 50%;
    padding: 0 0 300px 30px;
    text-align: left;
  }
  .b_g_3 div div:nth-of-type(2) img {
    width: 100%;
  }
  .b_g_3 div div:nth-of-type(3) {
    width: 0%;
    margin: 0;
  }
  .b_g_3 .story {
    width: 100%;
    display: block;
    text-align: left;
    padding-top: 100px;
  }
  .b_g_3 .story span {
    font-size: 48px;
    font-family: 'Jua', sans-serif;
    -webkit-transform: translateX(6rem);
            transform: translateX(6rem);
    opacity: 0;
    -webkit-animation: live9 .5s 1.3s linear forwards;
            animation: live9 .5s 1.3s linear forwards;
  }
  @-webkit-keyframes live9 {
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes live9 {
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  .b_g_3 .story p {
    font-size: 18px;
    font-family: 'Gothic A1', sans-serif;
    white-space: pre-line;
    padding-top: 5%;
    -webkit-transform: translateY(6rem);
            transform: translateY(6rem);
    opacity: 0;
    -webkit-animation: live8 .5s 1.5s linear forwards;
            animation: live8 .5s 1.5s linear forwards;
  }
  @-webkit-keyframes live8 {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes live8 {
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  .menu_1 {
    width: 100%;
    display: block;
  }
  .menu_1 #header {
    width: 100%;
    height: 100%;
  }
  .menu_1 #header .main_content {
    border: 1px;
  }
  .menu_1 #header .main_content .menu_1_2 .con_1 {
    padding-top: 6%;
  }
  .menu_1 #header .main_content .menu_1_2 .con_1 ul li a:after {
    content: '';
    display: none;
  }
  .menu_1 #header .main_content.acitve {
    width: 100%;
    background: #fff;
    -webkit-transition: .3s;
    transition: .3s;
  }
  .menu_1 #header .main_main {
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transform: translate(250%, 530px);
            transform: translate(250%, 530px);
  }
  .menu_1 #header .main_main .main_products {
    width: 100%;
    height: 100%;
    display: block;
  }
  .menu_1 #header .main_main .main_products .classic_main {
    width: 100%;
  }
  .menu_1 #header .main_main .main_products .classic_main .item_img {
    position: absolute;
    left: 40%;
    top: 20%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu_1 #header .main_main .main_products .choco_main {
    width: 100%;
  }
  .menu_1 #header .main_main .main_products .choco_main .item_img {
    position: absolute;
    left: 40%;
    top: 20%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu_1 #header .main_main .main_products .granola_main {
    width: 100%;
  }
  .menu_1 #header .main_main .main_products .granola_main .item_img {
    position: absolute;
    left: 40%;
    top: 20%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu_1 #header .main_main .main_products .protein_main {
    width: 100%;
  }
  .menu_1 #header .main_main .main_products .protein_main .item_img {
    position: absolute;
    left: 40%;
    top: 20%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu_1 #header .main_main .main_products .grain_main {
    width: 100%;
  }
  .menu_1 #header .main_main .main_products .grain_main .item_img {
    position: absolute;
    left: 40%;
    top: 20%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu_1 #header .main_main .main_products .engbar_main {
    width: 100%;
  }
  .menu_1 #header .main_main .main_products .engbar_main .item_img {
    position: absolute;
    left: 40%;
    top: 20%;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  .menu_1 #header .main_main.active {
    -webkit-transform: translate(0%, 530px);
            transform: translate(0%, 530px);
  }
}
/*# sourceMappingURL=common.css.map */