@import url("common.css");
main {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

main .page0 {
  padding-top: 15%;
  background: #505e20;
}

main .b_g_i {
  width: 50%;
  position: relative;
  z-index: 50;
}

main .b_g_i span {
  position: absolute;
  right: 0;
  top: 0;
  -webkit-filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
          filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
}

main .b_g_i span:nth-of-type(1) {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 110%;
  top: -200px;
}

main .b_g_i span:nth-of-type(1) img {
  width: 450px;
}

main .b_g_i span:nth-of-type(2) {
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 165%;
  top: 120px;
}

main .b_g_i span:nth-of-type(2) img {
  width: 450px;
}

main .b_g_i span:nth-of-type(3) {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 140%;
  top: 350px;
}

main .b_g_i span:nth-of-type(3) img {
  width: 400px;
}

main .page1 {
  width: 100%;
  padding-bottom: 7%;
  margin: 0 auto;
  background: #505e20;
  position: relative;
}

main .page1 .item_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
}

main .page1 .item_list .ticker_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  font-family: 'Black Han Sans', sans-serif;
  font-size: 200px;
  font-weight: 300;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
  color: transparent;
  -webkit-animation: gogo 20s infinite linear;
          animation: gogo 20s infinite linear;
}

@-webkit-keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes gogo {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

main .page1 .wit_m {
  width: 90%;
  margin: 0 auto;
  padding: 100px 0;
  white-space: pre-line;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .page1 .wit_m span {
  color: #d31045;
  font-size: 50px;
  font-family: 'Gothic A1', sans-serif;
  padding: 5% 25px;
}

main .page1 .wit_m p {
  color: #fff;
  font-family: 'Jua', sans-serif;
  font-size: 30px;
  line-height: 2;
  font-weight: 200;
}

main .page2 {
  width: 100%;
  background: #505e20;
  padding-bottom: 30%;
  position: relative;
}

main .page2 .vid iframe {
  position: absolute;
  left: 29%;
  top: 0;
}

main .page3 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: center;
  background: #505e20;
  padding-bottom: 10%;
}

main .page3 .page3_1 {
  width: 49%;
  padding-left: 10%;
}

main .page3 .page3_1 .seedimg1 img {
  width: 400px;
}

main .page3 .page3_1 .seedw1 {
  width: 100%;
}

main .page3 .page3_1 .seedw1 p {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 2;
}

main .page3 .page3_1 .seedw1 p b {
  color: #fff;
  font-size: 18px;
}

main .page3 .page3_2 {
  width: 60%;
  padding-right: 10%;
}

main .page3 .page3_2 .seedimg2 img {
  width: 400px;
}

main .page3 .page3_2 .seedw2 p {
  color: #fff;
  font-size: 18px;
  white-space: pre-line;
  line-height: 2;
}

.footer_top {
  height: 100px;
  background: #2b292d;
}

footer {
  width: 100%;
  overflow: hidden;
}

footer article {
  height: 350px;
  background: #2b292d;
}

footer article .cu_m {
  font-family: 'Gothic A1', sans-serif;
  padding-left: 50px;
}

footer article .cu_m strong {
  font-size: 40px;
  color: #fff;
  padding-bottom: 20px;
}

footer article .cu_m span {
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
}

footer article .cu_m p {
  white-space: pre-line;
  margin: 0;
  font-family: 'Gothic A1', sans-serif;
  padding: 15px 0;
  color: #fff;
}

footer article .cu_m .under p {
  font-family: 'Gothic A1', sans-serif;
  color: #fff;
  font-size: 8px;
}

footer article .cu {
  position: relative;
  -webkit-transform: rotate(-328deg);
          transform: rotate(-328deg);
}

footer article .cu a {
  font-family: 'Anton', sans-serif;
  font-size: 150px;
  position: absolute;
  right: 130px;
  bottom: 380px;
  color: #fff;
}
/*# sourceMappingURL=fromseedtotable.css.map */