@charset "UTF-8";
@import url('common.css');



main{
    width:100%;
    margin:0 auto;
    overflow: hidden;
    position: relative;
    .page0{
        padding-top:15%;
        background:#a27f50;
    }
    .b_g_i{
        width:50%;
        position: relative;
        z-index:50;
        
        span{            position: absolute;
            right:0; top:0;
            filter: drop-shadow(rgba(0, 0, 0, 0.3) 5px 20px 5px);
            
        }
        span:nth-of-type(1){
            transform: rotate( 30deg );
            display:flex;
            left:110%; top:-200px;
            img{width:450px;}
        }
        span:nth-of-type(2){
            transform: rotate( -30deg );
            display:flex;
            left:165%; top:120px;
            img{width:450px;}
        }
        span:nth-of-type(3){
            transform: rotate( -20deg );
            display:flex;
            left:140%; top:350px;
            img{width:400px;}
        }
    }
    .page1{
        width:100%;
        padding-bottom:7%;
        margin:0 auto;
        background:#a27f50;
        position: relative;

        .item_list{
            display:flex;
            white-space:nowrap;
            transform:rotate(15deg);
            .ticker_item{
                display: flex;
                white-space: nowrap;

                font-family: 'Black Han Sans', sans-serif;
                font-size:200px;
                font-weight: 300;
                -webkit-text-stroke-width:2px;
                -webkit-text-stroke-color:#fff;
                color:transparent;
                
                animation:gogo 20s infinite linear;

                @keyframes gogo{
                    100% {transform: translateX(-100%);}
                }
            }
        }
        .wit_m{
            width:90%;
            margin:0 auto;
            padding:100px 0;
            white-space: pre-line;
            display:flex;
            span{
                color:#d31045;
                font-size:50px;
                font-family: 'Gothic A1', sans-serif;
                padding: 5% 25px;
            }
            p{
                color:#fff;
                font-family: 'Jua', sans-serif;
                font-size:30px;
                line-height:2;
                font-weight: 200;
            }
        }
    }
    .page2{
        width:100%;
        margin:0 auto;
        margin-top:-3.5%;
        padding:0 0 10% 0;
        background:#a27f50;
        white-space:pre-line;
        text-align: left;
        position: relative;
        .ab_img{
            position: absolute;
            left:63%; top:25%;
            img{width:500px;}
        }
        .ab_img2{
            position: absolute;
            left:56%; top:41%;
            img{width:400px;}
        }
        
        dl{
            width:80%;
            margin:0 auto;
            padding:0;
            dt{color:#d31045;
                font-family: 'Gothic A1', sans-serif;
                font-weight:bold;
                font-size:24px;
            }
            dd{
                color:#fff;
                font-family: 'Gothic A1', sans-serif;
                font-weight:300;
                font-size:18px;
                line-height:2;
            }
        }
        ul{
            width:80%;
            margin:0 auto;
            margin-top:-30px;
            li{
                color:#ddd;
                font-family: 'Gothic A1', sans-serif;
                font-weight:300;
                font-size:15px;
                line-height:.5;
            }
        }
    }
    .page3{
        width:100%;
        margin:0 auto;
        padding:10% 0;
        background:#a27f50;
        position: relative;
        h2{
            position: absolute;
            left:20%; top:12%;

            color:#fff;
            font-family: 'Black Han Sans', sans-serif;
            font-weight:200;
            font-size:50px;
        }
        span{
            position: absolute;
            left:15%; top:30%;

            display:block;
            width:80%;
            margin:0 auto;
            text-align: center;
            img{}
        }
    }
    .page4{
        width:100%;
        margin:0 auto;
        padding:30% 0 10% 0;
        background:#a27f50;
        h2{
            width:80%;
            margin:0 auto;  
            color:#fff;
            font-family: 'Black Han Sans', sans-serif;
            font-weight:200;
            font-size:50px;
            padding-bottom:2%;
        }
        dl{
            width:80%;
            margin:0 auto;  
            dt{
                color:#fff;
                font-family: 'Gothic A1', sans-serif;
                font-weight:300;
                font-size:24px;
                line-height:2;
            }
            dt:before{
                content:'+';
                font-size:15px;
                margin:10px;
                padding:5px;
                border:1px solid #fff;
                border-radius:20%;
            }
            dt.active:before{
                content:'-';
                border:1px solid #a27f50;
                border-radius:20%;
                background:#a27f50;
                color:#fff;
            }
            dd{
                white-space: pre-line;
                padding:1% 2%;
                background:#a99171;
                font-family: 'Gothic A1', sans-serif;
                font-weight:300;
                font-size:18px;
                line-height:2;
                display:none;
            }
        }
    }
}


.footer_top{        
    height:100px;
    background:#2b292d;
}
footer{
    width:100%;
    overflow: hidden;

    article{
        height:350px;
        background:#2b292d;        
        .cu_m{  
            font-family: 'Gothic A1', sans-serif;
            padding-left:50px;
            strong{
                font-size:40px;
                color:#fff;
                padding-bottom:20px;
            }
            span{
                font-family: 'Gothic A1', sans-serif;
                color:#fff;
            }
            p{
                white-space:pre-line;
                margin:0;
                font-family: 'Gothic A1', sans-serif;
                padding:15px 0;
                color:#fff;
            }            
            .under{
                p{
                    font-family: 'Gothic A1', sans-serif;
                    color:#fff;
                    font-size:8px;
                }
            }
        }
        .cu{
            position: relative;            
            transform: rotate(-328deg);
            a{
                font-family: 'Anton', sans-serif;
                font-size:150px;
                position: absolute;
                right:130px; bottom:380px;
                color:#fff;
            }
        }
    }
}
